2-msys2-mingw-package/mingw-w64-wget/src/
2-msys2-mingw-package/mingw-w64-wget/pkg/
2-msys2-mingw-package/mingw-w64-wget/mingw-w64-*
2-msys2-mingw-package/mingw-w64-wget/wget-*

3-test/2-output/x??/??/**
!3-test/2-output/x??/??/wget.log

5-bin/x32/
5-bin/x64/
